<h2 class="content-block">{{ value }}</h2>
<dx-data-grid
  [width]="'100%'"
  id="id"
  [dataSource]="listData"
  [rowAlternationEnabled]="true"
>
  <dxo-state-storing
    [enabled]="true"
    type="localStorage"
    storageKey="gridState"
  ></dxo-state-storing>

  <dxo-paging [pageSize]="gridConfigs.pageSize"></dxo-paging>
  <dxo-editing
    [allowUpdating]="gridConfigs.enableEditing"
    [useIcons]="true"
    mode="row"
  ></dxo-editing>

  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="gridConfigs.page"
  ></dxo-pager>
  <dxo-search-panel
    [visible]="gridConfigs.enableSearchPanel"
    [highlightCaseSensitive]="true"
  ></dxo-search-panel>

  <ng-container *ngFor="let item of getColumns">
    <dxi-column [dataField]="item"></dxi-column>
  </ng-container>
</dx-data-grid>
