<h2 class="content-block">{{ value }}</h2>
<dx-data-grid
  [width]="'100%'"
  id="id"
  [dataSource]="listData"
  [rowAlternationEnabled]="true"
  [filterSyncEnabled]="true"
  [filterValue]="filterValue"
>
  <dxo-state-storing
    [enabled]="true"
    type="localStorage"
    storageKey="gridState"
  />
  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-paging [pageSize]="gridConfigs.pageSize" />
  <dxo-group-panel [visible]="true" />
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-editing
    [allowUpdating]="gridConfigs.enableEditing"
    [useIcons]="true"
    mode="row"
  />
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="gridConfigs.page"
  />
  <dxo-search-panel
    [visible]="gridConfigs.enableSearchPanel"
    [highlightCaseSensitive]="true"
  />
  <ng-container *ngFor="let item of getColumns">
    <dxi-column
      [dataField]="item"
      *ngIf="item === groupIndexColumnName; else elseBlock"
      [groupIndex]="0"
    />

    <ng-template #elseBlock>
      <dxi-column [dataField]="item" />
    </ng-template>
  </ng-container>
</dx-data-grid>
<h4>configs: {{ filterValue | json }}</h4>
