<!-- <h1>this is child component</h1> -->
<!-- json-server --watch db.json // command for fake api run -->
<h2 class="content-block" style="text-align: center"> {{value}} </h2>
<dx-data-grid [width]="'100%'" id="id" [dataSource]="listData">
  <!-- [dataSource]="gridConfigs.listData.list | async" -->
  <dxo-paging [pageSize]="gridConfigs.pageSize"></dxo-paging>

  <dxo-editing
    [allowUpdating]="gridConfigs.enableEditing"
    [useIcons]="true"
    mode="row"
  ></dxo-editing>

  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="gridConfigs.page"
  ></dxo-pager>
  <dxo-search-panel
    [visible]="gridConfigs.enableSearchPanel"
    [highlightCaseSensitive]="true"
  ></dxo-search-panel>
<!-- 
  <ng-template *ngFor="let item of dataSource">
    <dxi-column dataField="{{ item }}" caption="{{ item }}"></dxi-column>
  </ng-template> -->
  <!-- <dxi-column dataField="id" caption="Id"></dxi-column>
  <dxi-column dataField="name" caption="Name"></dxi-column>
  <dxi-column dataField="email" caption="Email"></dxi-column>
  <dxi-column dataField="age" caption="Age"></dxi-column>
  <dxi-column dataField="department" caption="Department"></dxi-column>
  <dxi-column dataField="city" caption="City"></dxi-column> -->
</dx-data-grid>
