nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #e5edda;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 4px 0; 
}

li {
  padding: 10px 20px;
  font-size: 20px;
  list-style-type: none;
  text-transform: capitalize;
}

li:hover {
  background-color: #a8dcd6;
  border-radius: 6px;
}

a {
  text-decoration: none;
}
